*{
    box-sizing: border-box;
}

body, html{
    height: 100%;
    background-color: #EEF9BF;
}

.container{
    background-color: #EEF9BF;
}

ul{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style-type: none;
}

.card{
    background-color: #A7E9AF;
    margin: 15px;
    height: 146px;
    width: 117px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #99CEA8;
}

img{
    height: 100px;
    width: 100px;
    border-radius: 0px;     
}

.esconder{
    display: none;
}

.back{
    display: none;
}